body {
    background-color: lightyellow;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

header {
    text-align: center;
    padding: 50px 0;
}

section {
    margin: 50px;
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}

label {
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}