@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Poppins:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(253, 255, 143);
    text-align: center;
}

.title{
    text-align: center;
    font-size: 50px;
    margin-left: 65%;
}

.title span{
    color: rgb(253, 255, 143) ;
}

.join {
    position: absolute;
    left: 90%;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

nav ul li {
    padding: 0 12px;
}


nav ul li a {
    color: rgb(252, 252, 252);
}

nav ul :hover {
    color: rgb(253, 255, 143);
}
.smartPark img {
    width: 95px;
    height: 77px;
    padding: 0 12px;
}

.click {
    margin: 20px;
    padding: 30px;
}
.click h1{
    margin-top: 100px;
}

.click button {
    background-color: rgb(253, 255, 143);
    color: rgb(12, 12, 12);
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 20px;
    border: none;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.click button:hover {
    background-color: rgb(255, 255, 255);
}

h1 {
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
}
h2 {
    text-align: center;
}

.service {
    margin: auto;
    width: 50%;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}


